@model IEnumerable<ImageServiceWeb.Models.Employee>
@{
    ViewBag.Title = "ImageWeb";
}

<h2>Image Service Web Application Details</h2>

<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th>Service Status</th>
            <td class="text-md-center">
                @if (@ViewBag.ConnectedStat)
                {
                    <span style="font-weight: bold; font-size: large" class="badge badge-success">Connected</span>
                }
                else
                {
                    <span style="font-weight: bold; font-size: large" class="badge badge-warning">Not Connected</span>
                }
            </td>
        </tr>
        <tr>
            <th>Number of Photos</th>
            <td class="text-center">
                @if (@ViewBag.numberOfPhotos > 0)
                {
                <span style="font-weight: normal; font-size: large">@ViewBag.numberOfPhotos</span>
                }
                else
                {
                    <span style="font-weight: normal; font-size: large">Not Connected</span>
                }
        </td>
    </tr>
</tbody>
</table>

<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                </tr>
            }
        </table>