@model ImageServiceWebApplication.Models.ConfigModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Configuration Page


<table>
    <tr>
        <td>Output Directory: </td>
        <td>Model.OutputDirectory</td>
    </tr>

    <tr>
        <td>Source Name:  </td>
        <td><p type="text" id="prodName" size="5"></p> <br> </td>
    </tr>
</table>


@*<ul class="table">
   
        <li>
            @Html.DisplayNameFor(model => model.OutputDirectory)
        </li>
        <li>
            @Html.DisplayNameFor(model => model.SourceName)
        </li>
        <li>
            @Html.DisplayNameFor(model => model.LogName)
        </li>
        <li>
            @Html.DisplayNameFor(model => model.ThumbNailSize)
        </li>

    @foreach (var item in Model)
    {
   
        <li>
            @Html.DisplayFor(modelItem => item.OutputDirectory)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.SourceName)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.LogName)
        </li>
        <li>
            @Html.DisplayFor(modelItem => item.ThumbNailSize)
        </li>
    }


</ul>*@
