@model IEnumerable<ImageServiceWeb.Models.Employee>
@{
    ViewBag.Title = "ImageWeb";
}


<h2>Image Service Web Application</h2>

<div>
    <h2>Details:</h2>
    <table>
        <tr>
            <td>Status:  </td>
            <td><p type="text" id="prodStatus" size="5"></p> <br> </td>

        </tr>

        <tr>
            <td>Number of Photos:  </td>
            <td><p type="text" id="prodName" size="5"></p> <br> </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            </tr>
        }


    </table>


    <button type="button" id="btnStart" style="margin:10px">Get Data</button>

    <div>
        <h2>Search  by  Salary and Name</h2>
        <p> Salary: </p>
        <input type="text" id="txtSalaryId" size="5" />
        <p> Name: </p>
        <input type="text" id="NameID" size="5" />
        <input type="button" id="btnSearch" value="Search" />
        <ul id="lstProducts"></ul>
    </div>

</div>

<script>
    $("#btnStart").click(function () {
        $.getJSON("@Url.Action("GetEmployee")", function (empl) {
            $("#prodId").text(empl.FirstName);
            $("#prodName").text(empl.LastName);
        });
    });

    $("#btnSearch").click(function () {
        var input = {
            name:$("#NameID").val(),
            salary: $("#txtSalaryId").val()
        };
        $.post("@Url.Action("GetEmployee")", input, function (data) {
            $("#lstProducts").append("<li>" + data.FirstName + " " + data.LastName + " : $" + data.Salary + "</li>");
        }, "json");
    });

</script>

